## Vim, IDEs
.vscode
*~
*.swp
## Bootstrap
# assets/bootstrap/scss/
resources/
.hugo_build.lock
public/
## ReFreshing
static/fonts/
b6_*
*_b6
.zip
*wReadme.md
# exampleSite/assets/
# exampleSite/theme-ananke.toml
